.home-page {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center; 
  /* height: 100vh;  */
}


.search-bar {
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 10px;
  border: 1px solid #ddd;
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.1);
  outline: none;
  width: 100%;
  max-width: 600px; 
  box-sizing: border-box; 
  margin-top: 5%;
}
  
.search-bar:focus {
  border-color: rgb(0,46,97);
  box-shadow: 0 0 10px 0 rgba(0,0,0,0.2);
}

.search-bar::placeholder {
  color: #aaa;
  font-style: italic;
}

.search-icon {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}


.books-grid {
  /* margin: 3%;
  display: flex;
  gap: 2%;
  margin-top: 5%; */

  margin: 3%;
  display: grid;
  grid-template-columns: repeat(4, 1fr); /* Creates 4 columns */
  gap: 3%; /* Space between cards */
}

/* For medium-sized screens (e.g., tablets), use 3 columns */
@media (max-width: 1024px) {
  .books-grid {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* For small-sized screens (e.g., smartphones), use 2 columns */
@media (max-width: 768px) {
  .books-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}

/* For extra small screens, use 1 column */
@media (max-width: 480px) {
  .books-grid {
    grid-template-columns: 1fr;
  }
}
