.subBar-profile-page {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 20px;
}

.menu-and-visibility {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2%;
}

.books-grid {
    margin: 3%;
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 2%; 
    justify-items: center;
  }
  
  
@media (max-width: 1024px) {
    .books-grid {
        grid-template-columns: repeat(3, 1fr);
    }
}


@media (max-width: 768px) {
    .books-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media (max-width: 480px) {
    .books-grid {
        grid-template-columns: 1fr;
    }
}
